@model string

@{ 
    List<string> lines = new List<string>();

    if (!string.IsNullOrWhiteSpace(Model))
    {
        if (Model.Contains(Environment.NewLine))
        {
            lines.AddRange(Model.Split(Environment.NewLine.ToCharArray()));
        }
        else 
        {
            lines.Add(Model);
        }
    }

    if (lines.Count > 0)
    {
        foreach (var line in lines)
        {
    <p style="margin-top: 1px; margin-bottom: 1px">@line</p>
        }
    }
}
