@*
    Originally submitted to OSEHRA 2/21/2017 by DSS, Inc.
    Authored by DSS, Inc. 2014-2017
*@

@model VA.Gov.Artemis.UI.Data.Models.Common.BasePatient
    
    @{Html.RenderPartial("~/Views/Shared/_NavPatientInfo.cshtml", Model);}

    <ul class="nav nav-sidebar">
        <li><a id="nav-tracked" class="list-group-item" href="@Url.Action("Overview", "PatientList", new { @page = "1" })">Tracked Patients</a></li>
    </ul>   

    @{Html.RenderPartial("~/Views/Shared/_NavPatient.cshtml", Model);}

    @*@{Html.RenderPartial("~/Views/Shared/_NavUser.cshtml");}*@

