    <ul class="nav nav-sidebar">
        <li class="text-center list-group-item disabled thin-header">Configuration</li>
        <li><a id="nav-config-nonva" class="list-group-item" href="@Url.Action("Index", "NonVACare", new { @page = "1" })" aria-label="NON V A CARE">Non-VA Care</a></li>
        <li><a id="nav-config-edu" class="list-group-item" href="@Url.Action("Index", "Education", new { @page = "1", @sort = "0" })">Education Items</a></li>
        <li><a id="nav-config-chk" class="list-group-item" href="@Url.Action("Index", "Checklist")">Checklist</a></li> 
    </ul>
