@*
    Originally submitted to OSEHRA 2/21/2017 by DSS, Inc.
    Authored by DSS, Inc. 2014-2017
*@

    <div class="modal fade" id="timeoutModal" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Session Timeout Dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Session Timeout</h3>
                </div>
                <div class="modal-body">
                    <p>The current session will timeout in</p>
                    <h1 class="text-center"><span id="timeoutSecs"></span></h1>                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="continueSession">Continue Session</button>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
        $(document).ready(function () {

            console.log('-- Session.Timeout is @Session.Timeout --');

            var sessionTimeoutMinutes = @Session.Timeout; 

            function initModal(){
                var showWarningMilliseconds = (sessionTimeoutMinutes * 60 -30) * 1000;
                var modalTimeout = setTimeout(function () { showModal(); }, showWarningMilliseconds);
                curTO = 30; 
                console.log(' -- setting sessionTimer to ' + showWarningMilliseconds + ' -- ');
            };

            initModal(); 

            var curTO = 30;
            var interval;

            function showModal() {
                $('#timeoutSecs').html(curTO + ' <small> seconds</small>');
                interval = setInterval(eachSecFunc, 1000);
                $('#timeoutModal').modal();
            };

            $('#timeoutModal').on('hide.bs.modal', function () { clearInterval(interval); })

            var eachSecFunc = function eachSec() {
                if (curTO > 1) {
                    curTO -= 1;
                    var secs; 
                    if (curTO == 1)
                        secs = curTO + ' <small> second</small>';
                    else
                        secs = curTO + ' <small> seconds</small>';
                    $('#timeoutSecs').html(secs);                    
                } else {
                    
                    $('#timeoutModal').modal('hide');
                    location.href = '@Url.Action("Logout", "Account")';
                };
            };

            $('#continueSession').click(function () {
                clearInterval(interval);
                var posting = $.post('@Url.Action("ImHere","Account")');
                posting.done(function (data) {
                    sessionTimeoutMinutes = data.TimeoutMinutes;
                    initModal();
                });
                $('#timeoutModal').modal('hide');
            });

        });
    </script>