*.dcu
*.VA508
*.stat
*.identcache

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Win32
__history
_lib
_images
_help
ProjectGroupAOE.groupproj.local
__history
ProjectGroupAOE.groupproj
__recovery
_obsolete

*.mes
*.tvsconfig

# Skip file types for dashboard 
*.pdb
*.vspscc
*.suo
*.log
*.user

/Dashboard/packages
/Dashboard/va.gov.artemis.cda.test/bin/Debug
/Dashboard/va.gov.artemis.cda.test/obj/Debug
/Dashboard/va.gov.artemis.commands/obj/Debug
/Dashboard/va.gov.artemis.commands.tests/bin/Debug
/Dashboard/va.gov.artemis.commands.tests/obj/Debug
/Dashboard/va.gov.artemis.core/obj/Debug
/Dashboard/va.gov.artemis.mock/bin/Debug
/Dashboard/va.gov.artemis.mock/obj/Debug
/Dashboard/va.gov.artemis.ui/bin
/Dashboard/va.gov.artemis.ui/obj/Debug
/Dashboard/va.gov.artemis.ui.data/obj/Debug
/Dashboard/va.gov.artemis.vista/obj/Debug
/Dashboard/va.gov.artemis.vista.tests/bin/Debug
/Dashboard/va.gov.artemis.vista.tests/obj/Debug
/Dashboard/$tf
/Dashboard/va.gov.artemis.cda/obj/Debug
/Dashboard/.vs/config
/Dashboard/va.gov.artemis.ui/Controllers/AccountControllerPrivate.cs
/Dashboard/va.gov.artemis.commands.tests/App.Private.config
/Dashboard/va.gov.artemis.ui/Web.Debug.config
/Dashboard/va.gov.artemis.vista/Utility/VistaHashPrivate.cs
/Dashboard/va.gov.artemis.ui.tests/bin/Debug
/Dashboard/va.gov.artemis.ui.tests/obj/Debug
/Dashboard/va.gov.artemis.ui.tests/App.private.config
/Dashboard/va.gov.artemis.cda/bin/Debug
/Dashboard/va.gov.artemis.commands/bin/Debug
/Dashboard/va.gov.artemis.ui/va.gov.artemis.ui/bin
/Dashboard/va.gov.artemis.vista/bin/Debug

/Portal/packages
/Portal/va.gov.artemis.portal/bin
/Portal/va.gov.artemis.portal/obj/Debug
/DDCS/_group/ProjectGroupAOE.groupproj
/DDCS/_group/ProjectGroupAOE.groupproj.local
