@using BootstrapSupport

@foreach (string key in Alerts.ALL)
{
    if (TempData.ContainsKey(key))
    {

    <div class="alert alert-@key" tabindex="0">
        <button type="button" class="close" data-dismiss="alert">x</button>
        @TempData[key]
    </div>
    }
}