@model string

@switch (Model)
{
    case "1st":
    case "1":
        <span class="label label-warning">1<sup>st</sup></span>
        break;
    case "2nd":
    case "2":
        <span class="label label-warning">2<sup>nd</sup></span>
        break;
    case "3rd":
    case "3":
        <span class="label label-warning">3<sup>rd</sup></span>
        break;
    default:
        @Model
        break;
}