<div class="modal fade" id="allergies-table" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Allergies" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Allergies</h3>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Substance</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2/12/2016</td>
                            <td>Latex</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>2/12/2016</td>
                            <td>Penicillin</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>2/12/2016</td>
                            <td>Pollen</td>
                            <td>Yes</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
