<div class="modal fade" id="meds-table" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Medications" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Medications</h3>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Started</th>
                            <th>Description</th>
                            <th>Sig</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2012</td>
                            <td>Daily Asthma Inhaler</td>
                            <td>2x/day</td>
                        </tr>

                        <tr>
                            <td>2012</td>
                            <td>Medication #2</td>
                            <td>2x/day</td>
                        </tr>
                        <tr>
                            <td>2012</td>
                            <td>Medication #3</td>
                            <td>2x/day</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
