<div class="modal fade" id="pregs-table" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Past Pregnancies" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Past Pregnancies</h3>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Outcome</th>
                            <th>Gestational Age</th>
                            <th>Delivery</th>
                            <th>Complications</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2/3/2012</td>
                            <td>Term Birth</td>
                            <td>39 weeks, 2 days</td>
                            <td>Vaginal</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td>2/3/2011</td>
                            <td>Preterm Birth</td>
                            <td>36 weeks, 2 days</td>
                            <td>Cesarean</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td>2/3/2010</td>
                            <td>Term Birth</td>
                            <td>39 weeks, 2 days</td>
                            <td>Vaginal</td>
                            <td>None</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
