<div class="modal fade" id="probs-table" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Problems and Plans" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Problems / Plans</h3>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Code System</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2/3/2012</td>
                            <td>ICD-10</td>
                            <td>v1234.56</td>
                            <td>Gestaional Diabetes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>2/3/2012</td>
                            <td>LOINC</td>
                            <td>12345-67</td>
                            <td>Preeclampsia</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>2/3/2012</td>
                            <td>ICD-10</td>
                            <td>v1234.56</td>
                            <td>Gestaional Diabetes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>2/3/2012</td>
                            <td>ICD-10</td>
                            <td>v1234.56</td>
                            <td>Gestaional Diabetes</td>
                            <td>Yes</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
