<div class="modal fade" id="vacc-table" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Vaccinations" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Vaccinations</h3>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10/12/2016</td>
                            <td>Influenza 2016</td>
                            <td>Nasal Mist</td>
                        </tr>
                        <tr>
                            <td>9/9/2016</td>
                            <td>TDAP</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>10/12/2015</td>
                            <td>Influenza 2015</td>
                            <td>Injection</td>
                        </tr>            
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
