<div class="jumbotron mt-info-section mt-info-section-warning" id="mt-education">
    <div class="container">
        <h1>Education Resources</h1>
        <h3>These items have been recommended by your care team</h3>
        <div class="mt-ul-section">
            <ul>
                <li><a href="#">Hazards in the workplace and home including lead risk assessment</a></li>
                <li><a href="#">Nutrition / Weight Gain</a></li>
                <li><a href="#">HIV</a></li>
                <li><a href="#">Toxoplasmosis Precautions</a></li>
                <li><a href="#">Newborn Car Seat</a></li>
            </ul>
        </div>
        <p>You may also find additional resources by searching for keywords or topics</p>
        <div class="row">
            <div class="col-lg-4">
                <div class="input-group" style="margin-top: 20px">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-warning" type="button">Search</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
