<div class="jumbotron mt-info-section" id="mt-help">
    <div class="container">
        <h1>Get Help</h1>
        <h3>If you are having an emergency, please dial <strong>911</strong> immediately</h3>
        <h3>Other types of help</h3>
        <div class="mt-ul-section">
            <ul>
                <li>I need help using this program</li>
                <li>I need help undersanding what the lab results mean</li>
                <li>I need to talk to my doctor</li>
                <li>I'd like to speak with my Care Coordinator</li>
            </ul>
        </div>
    </div>
</div>
