<div class="jumbotron mt-info-section mt-info-section-success" id="mt-msgs">
    <div class="container">
        <h1>Your Messages</h1>
        <p>You have received <span class="badge badge-primary">3</span> messages:</p>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><a href="#"><span class="glyphicon glyphicon-envelope"></span></a>&nbsp;&nbsp;Message from <strong>Good Coordinator, RN</strong> on <strong>7/22/2016 at 12:23 PM</strong></li>
                <li><a href="#"><span class="glyphicon glyphicon-envelope"></span></a>&nbsp;&nbsp;Message from <strong>Dr. Abc Def</strong> on <strong>7/21/2016 at 2:15 PM</strong></li>
                <li><a href="#"><span class="glyphicon glyphicon-envelope"></span></a>&nbsp;&nbsp;Message from <strong>Lab Tech</strong> on<strong> 7/18/2016 at 12:23 PM</strong></li>
            </ul>
        </div>
        <p>Your recently sent messages:</p>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><a href="#"><span class="glyphicon glyphicon-envelope"></span></a>&nbsp;&nbsp;Message to <strong>Good Coordinator, RN</strong> on <strong>7/22/2016 at 12:23 PM</strong></li>
                <li><a href="#"><span class="glyphicon glyphicon-envelope"></span></a>&nbsp;&nbsp;Message to <strong>Dr. Abc Def</strong> on <strong>7/21/2016 at 2:15 PM</strong></li>
                <li><a href="#"><span class="glyphicon glyphicon-envelope"></span></a>&nbsp;&nbsp;Message to <strong>Lab Tech</strong> on<strong> 7/18/2016 at 12:23 PM</strong></li>
            </ul>
        </div>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning" data-toggle="modal" data-target="#new-msg-modal">Send New Message</button>
                <button class="btn btn-success" data-toggle="modal" data-target="#msg-table">Table</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("NewMessageModal")
@Html.Partial("MessagesTableModal")
