<div class="modal fade" id="msg-table" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Messages" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Messages</h3>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date/Time</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Subject</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>02/03/2016 12:12 PM</td>
                            <td>Veteran, Abc</td>
                            <td>Coordinator, Mcc</td>
                            <td>Question about VA benefits</td>
                        </tr>
                        <tr>
                            <td>02/03/2016 12:12 PM</td>
                            <td>Veteran, Abc</td>
                            <td>Coordinator, Mcc</td>
                            <td>Question about VA benefits</td>
                        </tr>
                        <tr>
                            <td>02/03/2016 12:12 PM</td>
                            <td>Veteran, Abc</td>
                            <td>Coordinator, Mcc</td>
                            <td>Question about VA benefits</td>
                        </tr>
                        <tr>
                            <td>02/03/2016 12:12 PM</td>
                            <td>Veteran, Abc</td>
                            <td>Coordinator, Mcc</td>
                            <td>Question about VA benefits</td>
                        </tr>
                        <tr>
                            <td>02/03/2016 12:12 PM</td>
                            <td>Veteran, Abc</td>
                            <td>Coordinator, Mcc</td>
                            <td>Question about VA benefits</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

