<div class="modal fade" id="new-msg-modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="New Message" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;New Message</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label for="to-box">To</label>
                            <input id="to-box" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="subj-box">Subject</label>
                            <input id="subj-box" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="msg-box">Message</label>
                            <textarea id="msg-box" class="form-control" rows="10" cols="50"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="save-btn" data-dismiss="modal">Send</button>
                <button class="btn btn-default" id="close" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

