<div class="jumbotron mt-info-section mt-info-section-primary" id="mt-welcome">
    <div class="container">
        <h1>Welcome to your healthy pregnancy portal!</h1>
        <h3>Here's what you can do:</h3>
        <div class="mt-ul-section">
            <ul>
                <li>Access educational materials specific to your needs</li>
                <li>Learn about community resources such as Text4Baby</li>
                <li>View your pregnancy data</li>
                <li>Enter and store your pregnancy data from outside sources safely and securely</li>
                <li>Communicate securely with your Maternity Care Coordinator or other members of your care team</li>
                <li>Download your data</li>
            </ul>
        </div>
        <div class="row">
            <div class="col col-sm-12">
                <a class="btn btn-warning centered-txt" href="@Url.Action("Index", "CurrentPregnancy")">View Pregnancy Data</a>
                <a class="btn btn-warning centered-txt" href="@Url.Action("Index", "HealthHistory")">View Health History</a>
                <a class="btn btn-warning centered-txt" href="#mt-help">Get Help</a>
            </div>
        </div>
    </div>
</div>
