TurquoiseGray VCLSTYLE "C:\\Program Files (x86)\\Embarcadero\\RAD Studio\\11.0\\Redist\\styles\\vcl\\TurquoiseGray.vsf"
R_1 VCLSTYLE "C:\\Program Files (x86)\\Embarcadero\\RAD Studio\\11.0\\Redist\\styles\\vcl\\EmeraldLightSlate.vsf"
