<div class="modal fade" id="edd-modal" data-keyboard="false" role="dialog" aria-label="Update Estimated Delivery Date" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Update Estimated Delivery Date</h3>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label>Criteria</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Event Date</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Gestational Age</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>EDD</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="false">
                                        <strong>Final EDD</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button class="btn btn-default" id="close" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
