<div class="modal fade" id="edd-table" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Estimated Delivery DAtes" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Estimated Delivery Dates</h3>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Criteria</th>
                            <th>Event Date</th>
                            <th>Gestational Age</th>
                            <th>EDD</th>
                            <th>Final</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Last Menstrual Period</td>
                            <td>2/12/2016</td>
                            <td>22 weeks, 3 days</td>
                            <td>12/15/2016</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Ultrasound</td>
                            <td>5/10/2016</td>
                            <td>12 weeks, 1 day</td>
                            <td>12/16/2016</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Estimated Date Conception</td>
                            <td>3/1/2016</td>
                            <td>n/a</td>
                            <td>12/10/2016</td>
                            <td>No</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
