<div class="modal fade" id="labs-table" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Laboratory Tests" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Laboratory Tests</h3>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Test</th>
                            <th>Result</th>
                            <th>Provider</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Initial</td>
                            <td>3/5/2016</td>
                            <td>Blood Type</td>
                            <td>AB +</td>
                            <td>JXY</td>
                        </tr>
                        <tr>
                            <td>Initial</td>
                            <td>3/5/2016</td>
                            <td>Rh Type</td>
                            <td>Positive</td>
                            <td>JXY</td>
                        </tr>
                        <tr>
                            <td>Initial</td>
                            <td>3/5/2016</td>
                            <td>Ab Screen</td>
                            <td><span class="text-success">Negative</span></td>
                            <td>JXY</td>
                        </tr>
                        <tr>
                            <td>Initial</td>
                            <td>3/5/2016</td>
                            <td>HIV</td>
                            <td><span class="text-success">Negative</span></td>
                            <td>JXY</td>
                        </tr>
                        <tr>
                            <td>Initial</td>
                            <td>3/5/2016</td>
                            <td>HepBsAg</td>
                            <td><span class="text-success">Negative</span></td>
                            <td>JXY</td>
                        </tr>
                        <tr>
                            <td>Initial</td>
                            <td>3/5/2016</td>
                            <td>RPR</td>
                            <td><span class="text-success">Non-Reactive</span></td>
                            <td>JXY</td>
                        </tr>
                        <tr>
                            <td>Initial</td>
                            <td>3/5/2016</td>
                            <td>Rubella</td>
                            <td><span class="text-danger">Non-Immune</span></td>
                            <td>JXY</td>
                        </tr>
                        <tr>
                            <td>28 Weeks</td>
                            <td>7/5/2016</td>
                            <td>GTT</td>
                            <td><span>(result)</span></td>
                            <td>JXY</td>
                        </tr>
                        <tr>
                            <td>28 Weeks</td>
                            <td>7/5/2016</td>
                            <td>3 Hour GTT</td>
                            <td><span>(result)</span></td>
                            <td>JXY</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
