<div class="modal fade" id="plans-modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Delivery & Postpartum Plans" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Delivery & Postpartum Plans</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label>Labor & Delivery Requests</label>
                            <textarea class="form-control" rows="3" cols="30"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Feeding</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Circumcision</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Postpartum Birth Control</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="save-btn" data-dismiss="modal">Save</button>
                <button class="btn btn-default" id="close" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

