<div class="jumbotron mt-info-section mt-info-section-info" id="mt-cur-preg-plans">
    <div class="container">
        <h1>Delivery & Postpartum Plans</h1>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Your requests regarding delivery:
                    <ul>
                        <li><span class="glyphicon glyphicon-flag text-warning"></span>&nbsp;&nbsp;Prefer natural delivery</li>
                        <li><span class="glyphicon glyphicon-flag text-warning"></span>&nbsp;&nbsp;No anesthesia</li>
                        <li><span class="glyphicon glyphicon-flag text-warning"></span>&nbsp;&nbsp;No stirrups</li>
                        <li><span class="glyphicon glyphicon-flag text-warning"></span>&nbsp;&nbsp;Leave umbilical cord attached after birth</li>                        
                    </ul>
                </li>
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;You intend to <strong>breastfeed</strong> your baby</li>
                <li><span class="glyphicon glyphicon-flag text-warning"></span>&nbsp;&nbsp;You are <strong>undecided</strong> whether to circumsize your baby or not</li>
                <li><span class="glyphicon glyphicon-flag text-warning"></span>&nbsp;&nbsp;You have not discussed birth control postpartum</li>
            </ul>
        </div>
        <p>Is this information correct?</p>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning" data-toggle="modal" data-target="#plans-modal">Update This Data</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("PlansModal")