<div class="modal fade" id="ultra-table" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Ultrasound Details" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Ultrasound Details</h3>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>US EGA</th>
                            <th>Estimated EGA</th>
                            <th>Percentile</th>
                            <th>Placenta</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>02/03/2016</td>
                            <td>4 wks, 2 dys</td>
                            <td>4 wks, 3 dys</td>
                            <td>55%</td>
                            <td>37</td>
                            <td>This is a clinician comment about the ultrasound</td>
                        </tr>
                        <tr>
                            <td>02/03/2016</td>
                            <td>4 wks, 2 dys</td>
                            <td>4 wks, 3 dys</td>
                            <td>55%</td>
                            <td>37</td>
                            <td>This is a clinician comment about the ultrasound</td>
                        </tr>
                        <tr>
                            <td>02/03/2016</td>
                            <td>4 wks, 2 dys</td>
                            <td>4 wks, 3 dys</td>
                            <td>55%</td>
                            <td>37</td>
                            <td>This is a clinician comment about the ultrasound</td>
                        </tr>
                        <tr>
                            <td>02/03/2016</td>
                            <td>4 wks, 2 dys</td>
                            <td>4 wks, 3 dys</td>
                            <td>55%</td>
                            <td>37</td>
                            <td>This is a clinician comment about the ultrasound</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
