<div class="modal fade" id="visits-table" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Visits" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Visit Details</h3>
            </div>
            <div class="modal-body">
                <p>Pre-pregnancy Weight: <strong>150 lbs</strong></p>
                <p>First Visit BMI: <strong>24.4</strong></p>
                <p>Recommended Weight Gain: <strong>25 lbs</strong></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>EGA</th>
                            <th>BP</th>
                            <th>FH</th>
                            <th>FHT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>02/03/2016</td>
                            <td>4 wks, 2 dys</td>
                            <td>117 / 76 mm Hg</td>
                            <td>3.45</td>
                            <td>4.67</td>
                        </tr>
                        <tr>
                            <td>03/03/2016</td>
                            <td>4 wks, 2 dys</td>
                            <td>117 / 76 mm Hg</td>
                            <td>3.45</td>
                            <td>4.67</td>
                        </tr>
                        <tr>
                            <td>04/03/2016</td>
                            <td>4 wks, 2 dys</td>
                            <td>117 / 76 mm Hg</td>
                            <td>3.45</td>
                            <td>4.67</td>
                        </tr>
                        <tr>
                            <td>05/03/2016</td>
                            <td>4 wks, 2 dys</td>
                            <td>117 / 76 mm Hg</td>
                            <td>3.45</td>
                            <td>4.67</td>
                        </tr>
                        <tr>
                            <td>06/03/2016</td>
                            <td>4 wks, 2 dys</td>
                            <td>117 / 76 mm Hg</td>
                            <td>3.45</td>
                            <td>4.67</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
