@model VA.Gov.Artemis.UI.Data.Models.Orders.OrderDetailModel

@{
    ViewBag.Title = "MCC Dashboard - Order Details";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h1 class="h3 page-header">Order Details</h1>
<pre>@Model.OrderDetail</pre>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="text-right">
            <button type="button" class="btn btn-default" onclick="location.href='@Model.ReturnUrl'">Return to List</button>       
        </div>
    </div>
</div>

<br />

@section Navigation
{
    @{Html.RenderPartial("~/Views/Shared/_NavGroupPatient.cshtml", Model.Patient);}
}
