<div class="jumbotron mt-info-section mt-info-section-primary" id="mt-cur-preg">
    <div class="container">
        <h1 style="font-size: 36px">Current Pregnancy</h1>
        <p><em>Here's what we do have</em></p>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;You currently <strong>are</strong> pregnant</li>
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Your estimated due date is <strong>12/12/2016</strong></li>
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Your baby's gestational age is <strong>21 weeks 3 days</strong></li>
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Your provider of obstetrical care is <strong>Dr. Good Physician, OBGYN</strong></li>
            </ul>
        </div>
        <p>Here's what's missing</p>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-flag text-danger"></span>&nbsp;&nbsp;Where you plan to deliver your baby</li>
                <li><span class="glyphicon glyphicon-flag text-danger"></span>&nbsp;&nbsp;What type of anesthesia you intend to use for the delivery, if any</li>
            </ul>
        </div>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning" data-toggle="modal" data-target="#pregModal">Update This Data</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("CurPregModal")
