<div class="jumbotron mt-info-section mt-info-section-danger" id="mt-cur-preg-labs">
    <div class="container">
        <h1>Laboratory Tests</h1>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Your initial tests were performed on <strong>3/1/2016</strong>
                    <ul>
                        <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Your blood type is <strong>A+</strong></li>
                        <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Your blood Rh is <strong>positive</strong></li>
                        <li><span class="glyphicon glyphicon-flag text-danger"></span>&nbsp;&nbsp;The RPR test showed a <strong>reactive</strong> result.
                            <a class="btn btn-xs btn-default" href="#">More Info</a> 
                        </li>
                        <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;All other tests showed normal results</li>
                    </ul>
                </li>
                <li><span class="glyphicon glyphicon-flag text-danger"></span>&nbsp;&nbsp;Additional lab tests are required at 28 weeks gestation on or around <strong>8/1/2016</strong></li>
            </ul>
        </div>
        <p>Is this information correct?</p>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning" data-toggle="modal" data-target="#labs-modal">Add Lab Result</button>
                <button class="btn btn-success" data-toggle="modal" data-target="#labs-table">Table</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("LabsModal")
@Html.Partial("LabsTable")

