<div class="jumbotron mt-info-section mt-info-section-warning" id="mt-cur-preg-out">
    <div class="container">
        <h1>Pregnancy Outcome</h1>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;You delivered your baby on <strong>10/10/2016</strong>!</li>
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;The estimated gestaional age at birth was <strong>38 weeks, 2 days</strong></li>                
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;You delivered your baby via cesarean section</li>                
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;There were no complications</li>                
            </ul>
        </div>
        <p>Is this information correct?</p>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning" data-toggle="modal" data-target="#outcome-modal">Update This Data</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("OutcomeModal")