<div class="jumbotron mt-info-section mt-info-section-danger" id="mt-cur-preg-pp">
    <div class="container">
        <h1>Postpartum</h1>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Postpartum follow-up needs include:
                    <ul>
                        <li>Colpo</li>
                        <li>TDAP</li>
                        <li>2 Hour GTT</li>
                        <li>Lactation Consult</li>
                    </ul>
                </li>
            </ul>
        </div>
        <p>Is this information correct?</p>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning" data-toggle="modal" data-target="#postpartum-modal">Update This Data</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("PostpartumModal")