<div class="jumbotron mt-info-section mt-info-section-warning" id="mt-cur-preg-psycho">
    <div class="container">
        <h1>Psychosocial</h1>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;A depression screening was completed on <strong>4/3/2016</strong></li>                
                <li><span class="glyphicon glyphicon-flag text-danger"></span>&nbsp;&nbsp;A depression screening should be completed by 28 weeks gestation</li>
                <li><span class="glyphicon glyphicon-flag text-danger"></span>&nbsp;&nbsp;A SAFE home screening has not been completed</li>
            </ul>
        </div>
        <p>Is this information correct?</p>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning" data-toggle="modal" data-target="#psycho-modal">Update This Data</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("PsychosocialModal")