<div class="jumbotron mt-info-section mt-info-section-info" id="mt-cur-preg-screening">
    <div class="container">
        <h1>Optional Screening & Diagnostic Testing</h1>
        
        <div class="mt-ul-section">
            <ul>
                <li>Aneuploidy/Anomoly Screening
                    <ul>
                        <li>Age-based Risk / DSR / All aneuploidy</li>
                        <li>Counseling</li>
                        <li>Comment</li>
                    </ul>
                </li>
                <li>Selected Strategy: Declined / 2T US / Quad / 1T / Other</li>
                <li>Screening Result: N/A</li>
                <li>Diagnostic Test: Declined / Amnio / CVS / PUBS</li>
                <li>Diagnostic Result: N/A</li>
                <li>Cystic Fibrosis (You): Declined / Neg / Pos</li>
                <li>Cistic Fibrosis (Partner): Declined / Neg / Pos</li>
                <li>Other Genetic Screening</li>
            </ul>
        </div>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning" data-toggle="modal" data-target="#screening-modal">Update This Data</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("ScreeningModal")