<div class="jumbotron mt-info-section mt-info-section-primary" id="mt-cur-preg-visits">
    <div class="container">
        <h1>Physician Visits</h1>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;You had an initial OB visit on <strong>2/28/2016</strong></li>                
                <li><span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;You had a follow-up OB visit on <strong>3/31/2016</strong></li>                
                <li><span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;You had another follow-up OB visit on <strong>4/28/2016</strong></li>                
                <li><span class="glyphicon glyphicon-flag text-danger"></span>&nbsp;&nbsp;Your last visit was <strong>about 10 weeks</strong> ago</li>                
                <li><span class="glyphicon glyphicon-flag text-danger"></span>&nbsp;&nbsp;Please visit your OB as soon as possible if you have not already</li>                
            </ul>
        </div>
        <p>Is this information correct?</p>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning" data-toggle="modal" data-target="#visits-modal">Add Visit Record</button>
                <button class="btn btn-success" data-toggle="modal" data-target="#visits-table">Table</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("VisitsModal")
@Html.Partial("VisitsTable")
