<div class="jumbotron mt-info-section mt-info-section-danger" id="mt-cur-preg-allergies">
    <div class="container">
        <h1>Allergies</h1>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;You are <strong>not</strong> allergic to latex</li>                
                <li><span class="glyphicon glyphicon-flag text-danger"></span>&nbsp;&nbsp;You have seasonal hayfever</li>                
                <li><span class="glyphicon glyphicon-flag text-danger"></span>&nbsp;&nbsp;You are allergic to shellfish</li>                
            </ul>
        </div>
        <p>Is this information correct?</p>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning" data-toggle="modal" data-target="#allergies-modal">Update This Data</button>
                <button class="btn btn-success" data-toggle="modal" data-target="#allergies-table">Table</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("AllergiesModal")
@Html.Partial("AllergiesTable")