<div class="jumbotron mt-info-section mt-info-section-primary" id="mt-cur-preg-meds">
    <div class="container">
        <h1>Active Medications</h1>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-flag text-warning"></span>&nbsp;&nbsp;You are taking <strong>aspirin</strong> once a day</li>                
                <li><span class="glyphicon glyphicon-flag text-warning"></span>&nbsp;&nbsp;You are using an albuteral inhaler 2X Day</li>                
                <li><span class="glyphicon glyphicon-flag text-warning"></span>&nbsp;&nbsp;You take lipitor 1X day for cholesterol</li>                
            </ul>
        </div>
        <p>Is this information correct?</p>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning"  data-toggle="modal" data-target="#meds-modal">Update This Data</button>
                <button class="btn btn-success" data-toggle="modal" data-target="#meds-table">Table</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("MedsModal")
@Html.Partial("MedsTable")