<div class="modal fade" id="meds-modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Medications" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Medications</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label for="edd">Started</label>
                            <input type="date" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="edd">Description</label>
                            <input type="date" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="edd">Sig</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="save-btn" data-dismiss="modal">Save</button>
                <button class="btn btn-default" id="close" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

