<div class="jumbotron mt-info-section mt-info-section-warning" id="mt-cur-preg-probs">
    <div class="container">
        <h1>Problems and Plans</h1>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-flag text-danger"></span>&nbsp;&nbsp;You have mild Asthma</li>                
                <li><span class="glyphicon glyphicon-flag text-danger"></span>&nbsp;&nbsp;You have lower back pain when lying down</li>                
            </ul>
        </div>
        <p>Is this information correct?</p>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning"  data-toggle="modal" data-target="#probs-modal">Update This Data</button>
                <button class="btn btn-success" data-toggle="modal" data-target="#probs-table">Table</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("ProblemsPlansModal")
@Html.Partial("ProblemsPlansTable")