<div class="jumbotron mt-info-section mt-info-section-info" id="mt-cur-preg-vacc">
    <div class="container">
        <h1>Vaccines & Immunizations</h1>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;You received your last flu shot on <strong> 5/5/2016</strong></li>                
                <li><span class="glyphicon glyphicon-flag text-danger"></span>&nbsp;&nbsp;There is no record of your last tetanus shot</li>                
                <li><span class="glyphicon glyphicon-ok text-success"></span>&nbsp;&nbsp;Rhogam should not be necessary based on your blood type</li>                
            </ul>
        </div>
        <p>Is this information correct?</p>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning"  data-toggle="modal" data-target="#vacc-modal">Update This Data</button>
                <button class="btn btn-success" data-toggle="modal" data-target="#vacc-table">Table</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("VaccinationsModal")
@Html.Partial("VaccinationsTable")