<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="vistaServer" value="localhost" />
    <add key="vistaListenerPort" value="9000"/>
    <add key="WelcomeMessage" value="Welcome to the Maternity Tracking Dashboard" />
    <add key="ProductDescription" value="This web application will allow the Maternity Care Coordinator and other key providers to track maternity care.  It will &#xD;&#xA;         allow users of the system to view a list of currently pregnant patients and display data critical to the coordination of care with outside providers.  The user&#xD;&#xA;         of the system will be reminded to take relevant actions and alerted to any important clinical data requiring action.  This product is currently in development &#xD;&#xA;         and will be changing frequently."


                                          />
    <add key="AccessHelpLink" value="mailto:accesshelp@vamaternity.com?subject=Requesting%20Access%20To%20MCC%20Dashboard"/>
    <add key="AppContext" value="DSIO GUI CONTEXT"/>
    <add key="cdaManufacturerModelName" value="Department of Veterans Affairs"/>
    <add key="cdaSoftwareName" value="Maternity Care Coordinator Dashboard"/>
    <add key="cdaProviderOrganizationPhone" value="123-456-7890"/>
    <add key="cdaExportFolder" value="" />

    <!-- TEST URL -->
    <add key="Text4BabyApiUserName" value=""/>
    <add key="Text4BabyApiPassword" value=""/>

    <!-- PRODUCTION URL -->
    <!--<add key="Text4BabyApiUserName" value=""/>
    <add key="Text4BabyApiPassword" value=""/>-->

    <add key="Text4BabyApiReferringUrl" value=""/>
    <add key="Text4BabyApiApplicationId" value=""/>
    

  </appSettings>  
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms
        loginUrl="~/Account/Login"
        defaultUrl="~/Home/Index" />
    </authentication>
    <!--<trace enabled="true" pageOutput="true" requestLimit="10" localOnly="true" traceMode="SortByTime" mostRecent="true"/>-->
  </system.web>  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

    <targets>
      
      <target name="dashboard-vista"
              xsi:type="File"
              fileName="${basedir}/content/logs/dashboard-vista.log"
              layout="${message}"
              archiveFileName="${basedir}/content/logs/dashboard-vista-{#}.log"
              archiveNumbering="date"
              archiveEvery="day"
              maxArchiveFiles="10"/>

      <target name="dashboard-trace"
              xsi:type="File"
              fileName="${basedir}/content/logs/dashboard-trace.log"
              layout="${message}"
              archiveFileName="${basedir}/content/logs/dashboard-trace-{#}.log"
              archiveNumbering="date"
              archiveEvery="day"
              maxArchiveFiles="5"/>

      <target name="dashboard-error"
              xsi:type="File"
              fileName="${basedir}/content/logs/dashboard-error.log"
              layout="${message}"
              archiveFileName="${basedir}/content/logs/dashboard-error-{#}.log"
              archiveAboveSize="100000"
              archiveNumbering="sequence"
              maxArchiveFiles="10"/>

    </targets>

    <!-- *** Change minlevel to "Off" to disable logging -->
    
    <rules>
      <logger name="dashboard-vista" minlevel="Trace" writeTo="dashboard-vista" />
      <logger name="dashboard-error" minLevel="Trace" writeTo="dashboard-error" />
      <logger name="dashboard-trace" minLevel="Trace" writeTo="dashboard-trace" />
    </rules>
    
  </nlog>

  <!-- TEST: https://qalb001.in.voxiva.net/voxiva.apiv2/Voxiva.asmx -->
  <!-- PROD: https://vste2.voxiva.net/voxiva.apiv2/voxiva.asmx -->
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="VoxivaSoap1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://qalb001.in.voxiva.net/voxiva.apiv2/Voxiva.asmx"
        binding="basicHttpBinding" bindingConfiguration="VoxivaSoap1"
        contract="Text4BabyServiceReference.VoxivaSoap" name="VoxivaSoap1" />
    </client>
  </system.serviceModel>
</configuration>