@*
    Originally submitted to OSEHRA 2/21/2017 by DSS, Inc.
    Authored by DSS, Inc. 2014-2017
*@

@{
    ViewBag.Title = "MCC Dashboard - Error";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Error</h2>
