<div class="jumbotron mt-info-section mt-info-section-danger" id="mt-resources">
    <div class="container">
        <h1>Community Resources</h1>
        <h3>Take advantage of these pregnancy/maternity resources that are available:</h3>
        <div class="mt-ul-section">            
            <ul>
                <li><a href="#">Text4Baby</a></li>
                <li><a href="#">Childbirth Classes</a></li>
                <li><a href="#">Local Hospitals/Delivery Facilities</a></li>
                <li><a href="#">Lactation Support Groups</a></li>
                <li><a href="#">Text2Quit</a></li>
            </ul>
        </div>
    </div>
</div>
