<div class="modal fade" id="download-modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-label="Download" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top: 0px; margin-bottom: 0px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Download</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-md-8 col-md-offset-2">
                        <button class="btn btn-block btn-primary">Health Summary (C-CDA)</button>
                        <button class="btn btn-block btn-primary">Antepartum History & Physical (APHP)</button>
                        <button class="btn btn-block btn-primary">Antepartum Summary (APS)</button>
                        <button class="btn btn-block btn-primary">Antepartum Education (APE)</button>
                        <button class="btn btn-block btn-primary">Antepartum Laboratory (APL)</button>
                        <button class="btn btn-block btn-primary">Postpartum Visit Summary (PPVS)</button>
                        <button class="btn btn-block btn-primary">Antepartum Imaging Report (XDR-I)</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" id="close" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

