<div class="jumbotron mt-info-section mt-info-section-primary" id="mt-download">
    <div class="container">
        <h1>Download your data</h1>
        <h3>You can download the following types of data:</h3>
        <div class="mt-ul-section">
            <ul>
                <li>Health Summary (C-CDA)</li>
                <li>Antepartum History & Physical (APHP)</li>
                <li>Antepartum Summary (APS)</li>
                <li>Antepartum Education (APE)</li>
                <li>Antepartum Laboratory Results (APL)</li>
                <li>Postpartum Visit Summary (PPVS)</li>
                <li>Antepartum Imaging Report (XDR-I)</li>
            </ul>
        </div>
                <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning" data-toggle="modal" data-target="#download-modal">Download</button>
            </div>
        </div>

    </div>
</div>
@Html.Partial("DownloadModal")
