<div class="jumbotron mt-info-section mt-info-section-info" id="mt-summary">
    <div class="container">
        <h1>Your Summary</h1>
        <div class="mt-ul-section">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Your name is <strong>First Last</strong></li>
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;You reside in <strong>Salt Lake City, UT</strong></li>
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;The best number to reach you is <strong>809-900-0999</strong></li>
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;You currently <strong>are</strong> pregnant</li>
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Your estimated due date is <strong>12/12/2016</strong></li>
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Your baby's gestational age is <strong>21 weeks 3 days</strong></li>
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Your provider of obstetrical care is <strong>Dr. Good Physician, OBGYN</strong></li>
                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;You plan to deliver your baby at <strong>University Hospital</strong> in Salt Lake City, UT</li>
            </ul>
        </div>
        <p>Is this information correct?</p>
        <div class="row">
            <div class="col col-sm-12">
                <button class="btn btn-warning" data-toggle="modal" data-target="#summaryModal">Update This Data</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("UpdateSummaryModal")
