#intro-message {
    background-color: rgb(255,255,255);
    margin: 0;
    border: 1px solid #c0c0c0;
    padding: 20px;    
}

#login-div {
    margin-top: 120px;
}

#message-div {
    margin-top: 18px;
}