<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

    <targets>

      <target name="dashboard-vista"
              xsi:type="File"
              fileName="${basedir}/content/logs/dashboard-tests-vista.log"
              layout="${message}"
              archiveFileName="${basedir}/content/logs/dashboard-tests-vista-{#}.log"
              archiveNumbering="date"
              archiveEvery="day"
              maxArchiveFiles="10"/>

      <target name="dashboard-trace"
              xsi:type="File"
              fileName="${basedir}/content/logs/dashboard-tests-trace.log"
              layout="${message}"
              archiveFileName="${basedir}/content/logs/dashboard-tests-trace-{#}.log"
              archiveNumbering="date"
              archiveEvery="day"
              maxArchiveFiles="5"/>

      <target name="dashboard-error"
              xsi:type="File"
              fileName="${basedir}/content/logs/dashboard-tests-error.log"
              layout="${message}"
              archiveFileName="${basedir}/content/logs/dashboard-tests-error-{#}.log"
              archiveAboveSize="100000"
              archiveNumbering="sequence"
              maxArchiveFiles="10"/>

    </targets>

    <!-- *** Change minlevel to "Off" to disable logging -->

    <rules>
      <logger name="dashboard-vista" minlevel="Trace" writeTo="dashboard-vista" />
      <logger name="dashboard-error" minLevel="Trace" writeTo="dashboard-error" />
      <logger name="dashboard-trace" minLevel="Trace" writeTo="dashboard-trace" />
    </rules>

  </nlog>

  <appSettings>

    <!-- Template --> 
    <!-- Enter a valid VistaA server and port -->
    <!--<add key="validServer" value="localhost"/>-->
    <!--<add key="validListenerPort" value="9000"/>-->
    
    <!-- Add AV codes that the tests can use -->
    <!-- AccessCode1/VerifyCode1 = Valid access code/Invalid access code -->
    <!-- AccessCode2/VerifyCode2 = Valid access code/Valid access code -->
    <!-- AccessCode3/VerifyCode3 = Valid access code/Valid access code -->
    <!-- AccessCode4/VerifyCode4 = Valid access code/Valid access code -->
    
    <!--<add key="validAccessCodes" value="AccessCode1,AccessCode2,AccessCode3,AccessCode4"/>-->
    <!--<add key="validVerifyCodes" value="VerifyCode1,VerifyCode2,VerifyCode3,VerifyCode4"/>-->

  </appSettings>

</configuration>