@{
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h1 class="h3 page-header">Pregnancy Progress Bars</h1>

@* TODO: Finish or remove *@ 

<div class="row">
    <div class="col-md-10 col-md-offset-1">

<div class="row">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar  progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="42" style="width: 95%">
                Jane Doe: 40 Weeks
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="42" style="width: 75%">
                Another Patient: 30 Weeks
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="42" style="width: 25%">
                Jane Jones: 10 Weeks
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="42" style="width: 0%">
                Test Patient: Not Pregnant
            </div>
        </div>
    </div>
</div>
</div>
    </div>

<h1 class="h3 page-header">Dashboard Counts</h1>

<div class="row">
    <div class="col-md-3">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-info">
    <h4 class="h1 list-group-item-heading centered-txt">12</h4>
    <p class="list-group-item-text">Currently Tracked Patients</p>
  </a>
</div>
    </div>
    <div class="col-md-3">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-success">
    <h4 class="h1 list-group-item-heading centered-txt">8</h4>
    <p class="list-group-item-text">Currently Pregnant Patients</p>
  </a>
</div>
    </div>
    <div class="col-md-3">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-warning">
    <h4 class="h1 list-group-item-heading centered-txt">2</h4>
    <p class="list-group-item-text">Postpartum Patients</p>
  </a>
</div>
    </div>
    <div class="col-md-3">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-danger">
    <h4 class="h1 list-group-item-heading centered-txt">3</h4>
    <p class="list-group-item-text">Need MCC Contact</p>
  </a>
</div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-success">
    <h4 class="h1 list-group-item-heading centered-txt">3</h4>
    <p class="list-group-item-text">1st Trimester</p>
  </a>
</div>
    </div>
    <div class="col-md-3">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-warning">
    <h4 class="h1 list-group-item-heading centered-txt">6</h4>
    <p class="list-group-item-text">2nd Trimester</p>
  </a>
</div>
    </div>
    <div class="col-md-3">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-danger">
    <h4 class="h1 list-group-item-heading centered-txt">4</h4>
    <p class="list-group-item-text">3rd Trimester</p>
  </a>
</div>
    </div>
    <div class="col-md-3">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-info">
    <h4 class="h1 list-group-item-heading centered-txt">2</h4>
    <p class="list-group-item-text">Due This Week</p>
  </a>
</div>
    </div>
</div>
